body{
    background-color: hsl(30, 38%, 92%);
    padding: auto;
    margin: 0;
}

main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 0;
}

h1{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

p{
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}


.button-text{
    margin: 15px;
}

.container{
    margin: 10px;
}

.picture{
    display: block;
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
}


.button{
    background-color: hsl(158, 36%, 37%);
    border: hsl(158, 36%, 37%);
    margin: 0 5%;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 15px;
}


button:hover{
    background-color: hsl(153, 38%, 17%);
}

.icon-cart{
    margin-right: 10px;
}

.button-text{
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    margin-left: 2px;
    font-weight: bold;
}


footer{
    padding-top: 10px;
    margin: 10px;
    font-size: small;
    position: relative;
    display: flex;
    justify-content: center;
}

.prices{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    justify-content: baseline;
}

.new-price{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    position: relative;
    left: 15px;
}

.old-price{
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: hsl(228, 12%, 48%);
    font-size: small;
    top: 30px;
    left: 30px;
}

.info{
    padding: 0px 10px;
}

a{
    text-decoration: none;
}

.fm-link, .github-link{
    white-space: pre;
}


/* Responsive */

/* Desktop design */

    @media only screen and (min-width: 1440px){
        .container{
            display: flex;
            border-radius: 10px;
            width: 50%;
            align-items: center;
            margin: 10% 25%;
        }

        .picture{
            border-radius: 10px 0px 0px 10px;
        }

        .info{
            width: 100%;
            white-space: inherit;
            align-items: center;
            padding: 5px;
        }

        .text{
            font-size: small;
        }

        .info-side{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 0px;
            block-size: 100%;
        }

        .old-price{
            position: relative;
            right: 5px;
        }

        .button{
            margin-bottom: none;
            width: 210px;
        }

        footer{
            bottom: 120px;
        }
    }