body{
    min-width: 375px;
    max-width: 1440px;
    background-color: hsl(30, 38%, 92%);
    padding: auto;
    margin: auto;
}

main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: auto;
}

h1{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.container{
    margin: 0% 5%;
    margin-top: 10%;
}

.images{
    width: 100%;
}

.button{
    background-color: hsl(158, 36%, 37%);
    border: hsl(158, 36%, 37%);
    margin: 10px 10px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.element-button{
    display: flex;
    justify-content: center;
}

button:hover{
    background-color: hsl(153, 38%, 17%);
}

.icon-cart{
    margin-right: 10px;
}

.button-text{
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    margin-left: 2px;
    font-weight: bold;
}


footer{
    padding-top: 10px;
    margin: 10px;
    font-size: small;
    position: relative;
    display: flex;
    justify-content: center;
}

.prices{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    justify-content: baseline;
}

.new-price{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

.old-price{
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 10px;
    left: 30px;
}

.info{
    padding: 0px 10px;
}

.product-mobile{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

a{
    text-decoration: none;
}

.fm-link, .github-link{
    white-space: pre;
}

/* mobile desing */

@media only screen and (min-width: 280px){

    .product-desktop{
        display: none;
    }

    body{
        margin: auto;
    }
}

/* Desktop design */

    @media only screen and (min-width: 1440px){
        .container{
            display: flex;
            border-radius: 10px;
            width: 40%;
            align-items: center;
            margin-left: 30%;
        }

        .info{
            width: 100%;
            white-space: inherit;
            align-items: center;
            padding: 5px;
        }

        .text{
            font-size: 14px;
        }


        .product-mobile{
            display: none;
        }

        .product-desktop{
            display: inline-flex;
            width: 315px;
            height: auto;
            border-radius: 10px 0px 0px 10px;
            margin-bottom: none;
        }


        .info-side{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 0px;
            block-size: 100%;
        }

        .old-price{
            position: relative;
            right: 5px;
        }

        .button{
            margin-bottom: none;
            width: 210px;
        }
    }