body{
    color: hsl(30, 38%, 92%);
    border: 4px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    min-width: 375px;

}
.main{
    color: hsl(0, 0%, 100%);
    border: 4px solid black;
    border-radius: 10px;
    margin: auto;
    padding: auto;
    margin: 30px 10px 30px 10px;
}

/* .img-parfurm{
    border: 15px 50px 0px 0px;
} */

.product{
    width: 200px;
    border: 15px 50px 0px 0px;
    border-radius: 20px 20px 0px 0px ;
}

.perfume-p{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 5px;
}

.main-text{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    padding: 5px;
}

.paragraph{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 5px;
}

.price-discounted{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', sans-serif;
    font-size: 34px;
}

.standard-price{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}

.cart{
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 2px solid hsl(158, 36%, 37%);
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.cart:hover{
    background-color: hsl(153, 38%, 17%);
}

.attribution{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}